@model WebProgramlamaProje.Models.Uzmanlik

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Uzmanlik</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class="col-sm-2">
            Yapılabilecek İşlemler
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var islemUzmanlik in Model.IslemUzmanliklar)
                {
                    <li>@islemUzmanlik.Islem.Ad</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UzmanlikId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
