################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/.vs/WebProgProje/CopilotIndices/17.12.38.29086
/.vs
/WebProgProje/bin/Debug/net8.0/WebProgProje.dll
/WebProgProje/bin/Debug/net8.0/WebProgProje.exe
/WebProgProje/bin/Debug/net8.0/WebProgProje.pdb
/WebProgProje/bin/Debug/net8.0/WebProgProje.staticwebassets.endpoints.json
/WebProgProje/bin/Debug/net8.0/WebProgProje.staticwebassets.runtime.json
/WebProgProje/obj/Debug/net8.0/refint/WebProgProje.dll
/WebProgProje/obj/Debug/net8.0/ref/WebProgProje.dll
/WebProgProje/obj/Debug/net8.0/WebProgProje.AssemblyInfo.cs
/WebProgProje/obj/Debug/net8.0/WebProgProje.AssemblyInfoInputs.cache
/WebProgProje/obj/Debug/net8.0/WebProgProje.GeneratedMSBuildEditorConfig.editorconfig
/WebProgProje/bin/Debug/net8.0/WebProgProje.dll
/WebProgProje/bin/Debug/net8.0/WebProgProje.exe
/WebProgProje/bin/Debug/net8.0/WebProgProje.pdb
/WebProgProje/obj/Debug/net8.0/staticwebassets/msbuild.WebProgProje.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
/WebProgProje/obj/Debug/net8.0/staticwebassets/msbuild.WebProgProje.Microsoft.AspNetCore.StaticWebAssets.props
