@{
    Layout = "../Shared/_NewLayout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<section class="hp-image">
    <div class="hp-image-container">
        <img class="homepage-img" src="/img/sakaltirasi1.png" />
    </div>
    <div class="titan-caption">
        <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-1">Kesimde Ustalık, Stilde Farklılık!</div>
            <div class="font-alt mb-40 titan-title-size-3">
                Görünüşünüzdeki <span class="rotate">Gücü | Işıltıyı | Büyüyü</span> Keşfedin!
            </div>
            <a class="section-scroll btn btn-border-w btn-circle" href="/Randevus/RandevuAl">Randevu Al</a>
        </div>
    </div>
</section>
<section class="module-medium" id="demos">
    <div class="container">
        <div class="row multi-columns-row">
            <h2 id="hizmetler" class="icerik-baslik">HİZMETLERİMİZ</h2>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="content-box-image"><img src="~/img/ft1.jpg" alt="Main Demo"></div>
                <h3 class="content-box-title font-serif">Sakal Tıraşı</h3>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="content-box-image"><img src="~/img/arda1.jpg" alt="Main Demo"></div>
                <h3 class="content-box-title font-serif">Saç Yıkama</h3>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="content-box-image"><img src="~/img/isokartal.jpg" alt="Main Demo"></div>
                <h3 class="content-box-title font-serif">Cilt Bakım</h3>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="content-box-image"><img src="~/img/messi.jpg" alt="Main Demo"></div>
                <h3 class="content-box-title font-serif">Saç Tıraşı</h3>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="content-box-image"><img src="~/img/travis.jpg" alt="Main Demo"></div>
                <h3 class="content-box-title font-serif">Saç Tasarımı</h3>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="content-box-image"><img src="~/img/icardi.jpg" alt="Main Demo"></div>
                <h3 class="content-box-title font-serif">Saç Boyama</h3>
            </div>
        </div>
    </div>
</section>
@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/site.css" />
}
