@{
    Layout = "../Shared/_NewLayout.cshtml";
}
<h1>@ViewData["Title"]</h1>
@if (TempData["ErrorMessage"] != null)
{
    <div id="error-message" class="alert alert-danger" role="alert" style="display:none;">
        @TempData["ErrorMessage"]
    </div>
    <script type="text/javascript">
        window.onload = function () {
            var errorMessageDiv = document.getElementById('error-message');
            if (errorMessageDiv) {
                errorMessageDiv.style.display = 'block';
            }
        };
    </script>
}
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Hata</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="errorModalMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<section class="hp-image">
    <div class="hp-image-container">
        <img class="homepage-img" src="/img/sakaltirasi1.png" />
    </div>
    <div class="titan-caption">
        <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-1">Kesimde Ustalık, Stilde Farklılık!</div>
            <div class="font-alt mb-40 titan-title-size-3">
                Görünüşünüzdeki <span class="rotate">Gücü | Işıltıyı | Büyüyü</span> Keşfedin!
            </div>
            <a class="section-scroll btn btn-border-w btn-circle" href="/Randevus/RandevuAl">Randevu Al</a>
        </div>
    </div>
</section>
<section class="module-medium" id="demos">
    <div class="container">
        <div class="row multi-columns-row">
            <h2 id="hizmetler" class="icerik-baslik">HİZMETLERİMİZ</h2>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="content-box-image"><img src="~/img/ft1.jpg" alt="Main Demo"></div>
                <h3 class="content-box-title font-serif">Sakal Tıraşı</h3>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="content-box-image"><img src="~/img/arda1.jpg" alt="Main Demo"></div>
                <h3 class="content-box-title font-serif">Saç Yıkama</h3>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="content-box-image"><img src="~/img/isokartal.jpg" alt="Main Demo"></div>
                <h3 class="content-box-title font-serif">Cilt Bakım</h3>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="content-box-image"><img src="~/img/messi.jpg" alt="Main Demo"></div>
                <h3 class="content-box-title font-serif">Saç Tıraşı</h3>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="content-box-image"><img src="~/img/travis.jpg" alt="Main Demo"></div>
                <h3 class="content-box-title font-serif">Saç Tasarımı</h3>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="content-box-image"><img src="~/img/icardi.jpg" alt="Main Demo"></div>
                <h3 class="content-box-title font-serif">Saç Boyama</h3>
            </div>
        </div>
    </div>
</section>
@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />

}
