@{
    Layout = "../Shared/_NewLayout.cshtml";
}
@model WebProgramlamaProje.Models.LoginViewModel

<div class="form-div">
    <form asp-action="Login" method="post">

        <h3>Giriş Yap</h3>
        <fieldset>
            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email@example.com">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label for="exampleInputPassword1" class="form-label">Şifre</label>
                <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" autocomplete="off">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="button-group">
                <button type="submit" class="btn btn-primary">Giriş Yap</button>
                <a asp-action="Kaydolma" class="btn btn-success">Kayıt Ol</a>
            </div>
        </fieldset>
    </form>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/login.css" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}