@model WebProgramlamaProje.Models.Randevu

@{
    ViewData["Title"] = "Randevu Al";
}

<h1>Randevu Al</h1>

<h4>Randevu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RandevuAl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CalisanId" class="control-label"></label>
                <select asp-for="CalisanId" class="form-control" asp-items="ViewBag.CalisanId" id="CalisanId"></select>
            </div>
            <div class="form-group">
                <label asp-for="IslemId" class="control-label"></label>
                <select asp-for="IslemId" class="form-control" asp-items="ViewBag.IslemId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Tarih" class="control-label"></label>
                <input asp-for="Tarih" type="date" class="form-control" id="Tarih" />
                <span asp-validation-for="Tarih" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Saat" class="control-label"></label>
                <input asp-for="Saat" type="time" class="form-control" id="Saat" />
                <span asp-validation-for="Saat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Randevu Al" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Dön</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#CalisanId').change(function () {
                var calisanId = $(this).val();
                if (calisanId) {
                    $.getJSON('@Url.Action("GetCalisanUygunluk", "Randevus")', { calisanId: calisanId }, function (data) {
                        // Uygunluk bilgilerini işleyin ve formu güncelleyin
                        // Örneğin, tarih ve saat alanlarını güncelleyin
                        var today = new Date().toISOString().split('T')[0];
                        $('#Tarih').attr('min', today);
                        $('#Tarih').change(function () {
                            var selectedDate = new Date($(this).val());
                            var selectedDay = selectedDate.getDay();
                            var uygunSaatler = data.filter(function (item) {
                                return item.Gun === selectedDay;
                            });
                            if (uygunSaatler.length > 0) {
                                var baslangic = uygunSaatler[0].Baslangic;
                                var bitis = uygunSaatler[0].Bitis;
                                $('#Saat').attr('min', baslangic);
                                $('#Saat').attr('max', bitis);
                            } else {
                                $('#Saat').attr('min', '');
                                $('#Saat').attr('max', '');
                            }
                        });
                    });
                }
            });
        });
    </script>
}
