@inject KullaniciService KullaniciService

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - S&I Saloon </title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/WebProgProje.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-slate.css" />
	@RenderSection("Styles", required: false)
    
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/img/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">S<i class="fas fa-scissors"></i>I Saloon</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Index">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Hizmetlerimiz">Hizmetlerimiz</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/AIResults/Create">Saç Önerisi Al</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Randevus/RandevuAl">Randevu Al</a>
                        </li>
                        @{
                            var userEmail = Context.Session.GetString("UserEmail");
                            var userRole = Context.Session.GetString("UserRole");

                            if (!string.IsNullOrEmpty(userEmail))
                            {
                                if (userRole == "Admin")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="/Home/Admin">Admin Paneli</a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/Kullanicis/Profil">Profil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/Kullanicis/Logout">Çıkış Yap</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/Kullanicis/Register">Kayıt Ol</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/Kullanicis/Login">Giriş Yap</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="footer-container">
            &copy; 2024 - S&I Saloon
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        // JavaScript ile aktif sayfayı belirlemek
        const links = document.querySelectorAll('.navbar-nav .nav-link');
        const currentUrl = window.location.pathname;

        links.forEach(link => {
            if (link.getAttribute('href') === currentUrl) {
                link.classList.add('active');
            }
        });
    </script>
</body>
</html>

