@model WebProgramlamaProje.Models.Calisan

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Calisan</h4>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KullaniciId" class="control-label"></label>
                <select asp-for="KullaniciId" class="form-control" asp-items="ViewBag.KullaniciId" id="KullaniciId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UzmanlikId" class="control-label"></label>
                <select asp-for="UzmanlikId" class="form-control" asp-items="ViewBag.UzmanlikId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SalonId" class="control-label"></label>
                <select asp-for="SalonId" class="form-control" asp-items="ViewBag.SalonId"></select>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Ad" class="form-control" />
                <input type="hidden" asp-for="Soyad" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById("KullaniciId").addEventListener("change", function () {
            var kullaniciId = this.value;
            fetch('/api/kullanicilar/' + kullaniciId)
                .then(response => response.json())
                .then(data => {
                    document.querySelector('input[name="Ad"]').value = data.ad;
                    document.querySelector('input[name="Soyad"]').value = data.soyad;
                });
        });
    </script>
}
@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}
